<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.campus.core.dao.EmploymentMapper" >
  <resultMap id="BaseResultMap" type="com.topie.campus.core.model.Employment" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="stu_id" property="stuId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="college" property="college" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="class_num" property="classNum" jdbcType="VARCHAR" />
    <result column="enter_date" property="enterDate" jdbcType="VARCHAR" />
    <result column="graduate_date" property="graduateDate" jdbcType="VARCHAR" />
    <result column="identify_id" property="identifyId" jdbcType="VARCHAR" />
    <result column="home_address" property="homeAddress" jdbcType="VARCHAR" />
    <result column="take_table" property="takeTable" jdbcType="VARCHAR" />
    <result column="employment_status" property="employmentStatus" jdbcType="VARCHAR" />
    <result column="sign_status" property="signStatus" jdbcType="VARCHAR" />
    <result column="poor_student" property="poorStudent" jdbcType="VARCHAR" />
    <result column="employ_pattern" property="employPattern" jdbcType="VARCHAR" />
    <result column="sign_pattern" property="signPattern" jdbcType="VARCHAR" />
    <result column="sign_company" property="signCompany" jdbcType="VARCHAR" />
    <result column="tutor" property="tutor" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="sign_company_address" property="signCompanyAddress" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List">
  id,stu_id,name,gender,phone,education,college,major,class_num,enter_date,graduate_date,identify_id,home_address,take_table,employment_status,sign_status,poor_student,employ_pattern,sign_pattern,sign_company,tutor,comment,sign_company_address
  </sql>
  
  <select id="findByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_employment
        <where>
         <if test = "employment!=null">
            <if test="employment.name!=null and employment.name!=''">
                `name` like concat('%',concat(#{employment.name},'%'))
            </if>
         </if>
        </where>
        <if test="pageOffset!=null and pageSize!=null">
            limit #{pageOffset},#{pageSize}
        </if>
    </select>
    
    <select id="countEmploy" resultType="java.lang.Long">
        select
        count(1)
        from t_employment
        <where>
            <if test="employment.name!=null and employment.name!=''">
                and `name` like concat('%',concat(#{employment.name},'%'))
            </if>
        </where>
    </select>
    
    <select id="findByStuId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_employment
        <where>
           <if test="stuId!=null and stuId!=''">
            stu_id = #{stuId}
           </if> 
        </where>
    </select>
</mapper>