<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.campus.core.dao.MessageMapper">
    <resultMap id="BaseResultMap" type="com.topie.campus.core.model.Message">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="message_id" property="messageId" jdbcType="INTEGER"/>
        <result column="message_content" property="messageContent" jdbcType="VARCHAR"/>
        <result column="message_to_user_id" property="messageToUserId" jdbcType="INTEGER"/>
        <result column="message_from_user_id" property="messageFromUserId" jdbcType="INTEGER"/>
        <result column="message_to_user_name" property="messageToUserName" jdbcType="VARCHAR"/>
        <result column="message_from_user_name" property="messageFromUserName" jdbcType="VARCHAR"/>
        <result column="message_date_time" property="messageDateTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_read" property="isRead" jdbcType="BIT"/>
    </resultMap>
    <update id="updateTimeByPrimaryKey">
        update topie_campus.t_message set update_time=now() where message_id = #{messageId}
    </update>
    <select id="findMessageByPageNumAndPageSize" resultMap="BaseResultMap">
        select
        *
        from topie_campus.t_message
        <where>
            <if test="message.messageToUserId!=null ">
                and message_to_user_id=#{message.messageToUserId}
            </if>
            <if test="message.messageFromUserId!=null ">
                and message_from_user_id=#{message.messageFromUserId}
            </if>
        </where>
        <if test="sortType==0">
            order by update_time desc,message_date_time desc
        </if>
        <if test="sortType==1">
            order by message_date_time desc
        </if>
        <if test="pageOffset!=null and pageSize!=null">
            limit #{pageOffset},#{pageSize}
        </if>
    </select>
    <select id="countMessage" resultType="java.lang.Long">
        select
        count(1)
        from topie_campus.t_message
        <where>
            <if test="message.messageToUserId!=null ">
                and message_to_user_id=#{message.messageToUserId}
            </if>
            <if test="message.messageFromUserId!=null ">
                and message_from_user_id=#{message.messageFromUserId}
            </if>
        </where>
    </select>
    <select id="findReceiveMessageStat" resultType="java.util.Map">
        select
        message_from_user_id user_id,
        min(message_from_user_name) name,
        count(1) message_count
        from topie_campus.t_message
        where message_to_user_id=#{userId}
        group by message_from_user_id
    </select>
</mapper>
