<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.campus.core.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="com.topie.campus.core.model.Student">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="student_no" jdbcType="VARCHAR" property="studentNo"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="ethnic_group" jdbcType="INTEGER" property="ethnicGroup"/>
        <result column="birth" jdbcType="DATE" property="birth"/>
        <result column="political_status" jdbcType="INTEGER" property="politicalStatus"/>
        <result column="academe" jdbcType="VARCHAR" property="academe"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,user_id,student_no,name,gender,ethnic_group,birth,political_status,academe,subject,contact_phone,email
    </sql>
    <select id="findStudentByPageNumAndPageSize" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from topie_campus.t_student
        <where>
            <if test="student.name!=null and student.name!=''">
                and `name` like concat('%',concat(#{student.name},'%'))
            </if>
        </where>
        <if test="student.sort_ != null and student.sort_ != ''">
            ${teacher.sort_}
        </if>
        <if test="pageOffset!=null and pageSize!=null">
            limit #{pageOffset},#{pageSize}
        </if>
    </select>
    <select id="countStudent" resultType="java.lang.Long">
        select
        count(1)
        from topie_campus.t_student
        <where>
            <if test="student.name!=null and student.name!=''">
                and `name` like concat('%',concat(#{student.name},'%'))
            </if>
        </where>
    </select>
</mapper>
