<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.topie.campus.core.dao.SurveyGroupMapper">
    <resultMap id="BaseResultMap" type="com.topie.campus.core.model.SurveyGroup">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="group_id" jdbcType="INTEGER" property="groupId"/>
        <result column="group_name" jdbcType="VARCHAR" property="groupName"/>
        <result column="type_id" jdbcType="INTEGER" property="typeId"/>
        <result column="start" jdbcType="TIMESTAMP" property="start"/>
        <result column="end" jdbcType="TIMESTAMP" property="end"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="online_status" jdbcType="BIT" property="onlineStatus"/>
    </resultMap>
    <insert id="insertGroupQuestionRelate">
        insert ignore into
        topie_campus.t_survey_group_question(group_id, question_id)
        VALUES (#{groupId},#{questionId})
    </insert>
    <insert id="insertGroupStudentRelate">
        insert ignore into
        topie_campus.t_survey_group_student(group_id, student_id, is_complete)
        VALUES (#{groupId},#{studentId},#{isComplete})
    </insert>
    <update id="updateGroupQuestionSort">
        update topie_campus.t_survey_group_question set sort=#{sort} where group_id=#{groupId} and question_id=#{questionId}
    </update>
    <update id="updateOnlineStatus">
        update topie_campus.t_survey_group set online_status=#{onlineStatus} where  group_id=#{groupId}
    </update>
    <update id="updateGroupStudentComplete">
        update topie_campus.t_survey_group_student set is_complete=1 where group_id=#{groupId} and student_id = #{studentId}
    </update>
    <delete id="deleteGroupQuestionRelate">
        delete from topie_campus.t_survey_group_question where group_id=#{groupId} and question_id=#{questionId}
    </delete>
    <select id="selectByPage" resultMap="BaseResultMap">
        select * from topie_campus.t_survey_group
        <where>
            <if test="surveyGroup.groupName!=null and surveyGroup.groupName!=''">
                and group_name like concat('%',concat(#{surveyGroup.groupName},'%'))
            </if>
            <if test="surveyGroup.status!=null">
                and status = #{surveyGroup.status}
            </if>
            <if test="surveyGroup.onlineStatus!=null">
                and online_status = #{surveyGroup.onlineStatus}
            </if>
        </where>
        <if test="pageOffset!=null and pageSize!=null">
            limit #{pageOffset},#{pageSize}
        </if>
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(1) from topie_campus.t_survey_group
        <where>
            <if test="surveyGroup.groupName!=null and surveyGroup.groupName!=''">
                and group_name like concat('%',concat(#{surveyGroup.groupName},'%'))
            </if>
            <if test="surveyGroup.status!=null">
                and status = #{surveyGroup.status}
            </if>
            <if test="surveyGroup.onlineStatus!=null">
                and online_status = #{surveyGroup.onlineStatus}
            </if>
        </where>
    </select>
    <select id="countGroupQuestionRelate" resultType="java.lang.Integer">
        select count(1) from topie_campus.t_survey_group_question where group_id=#{groupId}
    </select>
    <select id="selectByPageByStudentId" resultMap="BaseResultMap">
        select sg.* from topie_campus.t_survey_group sg
        left join topie_campus.t_survey_group_student sgs
        on sg.group_id = sgs.group_id
        <where>
            sgs.student_id=#{studentId}
            <if test="surveyGroup.groupName!=null and surveyGroup.groupName!=''">
                and sg.group_name like concat('%',concat(#{surveyGroup.groupName},'%'))
            </if>
            <if test="surveyGroup.status!=null">
                and sg.status = #{surveyGroup.status}
            </if>
            <if test="surveyGroup.onlineStatus!=null">
                and sg.online_status = #{surveyGroup.onlineStatus}
            </if>
        </where>
        <if test="pageOffset!=null and pageSize!=null">
            limit #{pageOffset},#{pageSize}
        </if>
    </select>
    <select id="countByStudentId" resultType="java.lang.Long">
        select count(1) from topie_campus.t_survey_group sg
        left join topie_campus.t_survey_group_student sgs
        on sg.group_id = sgs.group_id
        <where>
            sgs.student_id=#{studentId}
            <if test="surveyGroup.groupName!=null and surveyGroup.groupName!=''">
                and sg.group_name like concat('%',concat(#{surveyGroup.groupName},'%'))
            </if>
            <if test="surveyGroup.status!=null">
                and sg.status = #{surveyGroup.status}
            </if>
            <if test="surveyGroup.onlineStatus!=null">
                and sg.online_status = #{surveyGroup.onlineStatus}
            </if>
        </where>
    </select>
    <select id="selectTypeIdByGroupId" resultType="java.lang.Integer">
        select type_id from topie_campus.t_survey_group where group_id=#{groupId}
    </select>

    <select id="selectComplete" resultType="java.lang.Boolean">
       select is_complete from topie_campus.t_survey_group_student where group_id=#{groupId} and student_id = #{studentId}
    </select>
    <select id="selectStatByGroupId" resultType="com.topie.campus.core.model.GroupStat">
        select
        teacher_id teacherId,
        question_id questionId,
        avg(record) record
        from t_survey_group_question_answer
        where group_id=#{groupId} and question_type=1
        group by teacher_id,question_id;
    </select>
    <select id="selectByCurrentForStartTask" resultMap="BaseResultMap">
        select
        *
        from topie_campus.t_survey_group
        where
        <![CDATA[ start<=#{current} and `end`>#{current} ]]>
        and status=1 and online_status=0;
    </select>
    <select id="selectByCurrentForEndTask" resultMap="BaseResultMap">
        select
        *
        from topie_campus.t_survey_group
        where
        <![CDATA[ `end`<=#{current} ]]>
        and status=1 and online_status=1;
    </select>
</mapper>
