<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topie.campus.security.dao.FunctionMapper">
    <resultMap id="BaseResultMap" type="com.topie.campus.security.model.Function">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="function_name" property="functionName" jdbcType="VARCHAR"/>
        <result column="display" property="display" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="action" property="action" jdbcType="VARCHAR"/>
        <result column="function_desc" property="functionDesc" jdbcType="INTEGER"/>
        <result column="insert_time" property="insertTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="TreeNodeMap" type="com.topie.campus.common.TreeNode">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="parent_id" property="pId" jdbcType="INTEGER"/>
        <result column="function_name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectFunctionTreeNodes" resultMap="TreeNodeMap">
        select id,parent_id,function_name from sys_function
        <where>
            <if test="functionName!=null and functionName!=''">
                function_name like concat('%',concat(#{functionName},'%'))
            </if>
        </where>
    </select>

</mapper>
